.container {
  font-family: "Roboto", sans-serif;

  max-width: 600px;

  margin: 5px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
}
h1 {
  margin: 35px 100px 5px 30px;
  font-size: 25px;
  font-weight: bold;
  color: #272142;
}
small {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.todayValues {
  list-style: none;
}
.humidity {
  color: #a9a6b3;
}
.wind {
  color: #a9a6b3;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #9db2bf;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: #9db2bf;
}
#percentile {
  color: #f65282;
}

#windValue {
  color: #f65282;
}
#date {
  color: #a9a6b3;
}
#unit {
  color: #f65282;
}
.simbol {
  color: #f65282;
}
#gif {
  font-size: 35px;
}
.unit {
  color: #272142;
}
#temperature {
  font-size: 35px;
  color: #272142;
}
#description {
  text-transform: capitalize;
  color: #a9a6b3;
}
